.body{
  position: relative;
}
.crop {
 height: 200px;
 width: 300px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}

.articles-cont{
  position: absolute;
  left: 1%;
  top:3%;
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
