
@import url('https://fonts.googleapis.com/css?family=Roboto');

.body{
  position: relative;
}

.toggled-div{
  text-align: center;
}

.toggled_button{
  left:50%;
  top:0.7%;
  position: absolute;
}

#login-form{
  width:30vw;
  position: absolute;
  left:30vw;
  top:15vw;
}

#signup-form{
  width:30vw;
  position: absolute;
  left:30vw;
  top:15vw;
}

#sign-out{
  position: absolute;
  left:45vw;
  top:20vw;
}



.my-countries{
  margin-left:4% !important;
  margin-top:2%!important;
}

#plane-icon{
  padding: 4.5px;
}

#my-country-searchbar{
  right:0%;
  top:11%;
  position: absolute;
  padding:5px;

}

#display-countries{
  margin:4px;
}

#explore-country{
  margin:1vw;
  padding-top: 0.5vw;
  font-size: 20.5px;

}

#reading-list-section{
  width:100vw;
  margin-left:6.5%;
  margin-bottom: 2%;
}

#country-card{
  margin: 13px;
  min-height:13vw;
}

 #country-name h2{
  padding:10px;
}

.reading-list-card{
  margin-top: 20px !important;
  margin-right: 10px !important;
  text-align: center;
  height: 420px;
  width:200px;
}

.login-background{
  background-image: url("https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.crop {
 height: 200px;
 width: 300px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}

.cropped-2{
  height: 150px;
  width: 250px;
  overflow: hidden;
  padding:4px;
  margin:3px;
}

.cropped-2 img {
 height: auto;
 width: 250px;
}

.cropped-3{
  height: 130px;
  width: 230px;
  overflow: hidden;
  padding:2px;
}

.cropped-3 img {
 height: auto;
 width: 250px;
}


.user-news-section{
  position: absolute;
  top:80%;
  width:100vw;
}

#dropdown-video{
  margin:3px;
}

#user-news-countries-list{
  width:100vw;

}

.user-news-countries-div{
  width: 100vw;
  margin-left: 10px;
}


.user-country-news-card{
  border:solid !important;
  border-width: 1px !important;
  padding:2px!important;
  border-color:grey !important;
}



.videos{
  position:absolute;
  left:15%;
}

.country-name-select{
  margin-right: 22%;
}

.stream{
  position:absolute !important;
  width: 250px;
  right:0%;
  top:9%;
}

.news-list-card{
  text-align: center;
}


.country-select {
  background-color:white;
  color:rgb(96,186,178);
  border-radius: 25px;
  border: 2px solid rgb(167,216,213);
  padding: 20px;
  width: 200px;
  height: 30px;

}
.country-select:focus{
 outline: 2px solid rgb(76, 204, 204);
}


.news-card{
  background-color: rgb(249,249,249);
  padding:10px;
  border:solid;
  border-color:white;
}

.articleCard{
  background-color:rgb(248,248,255);
  font-family: 'Roboto', sans-serif;
  border:solid;
  border-color:white;
}


.articles-cont{
  position: absolute;
  left: 1%;
  top:12%;
  width: 300px;
}

.country-info{
  font-family: 'Roboto', sans-serif;
  background-color:rgb(248,248,255);
  position: absolute;
  left: 25%;
  top:29%;
  width:1000px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Navbar*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*Toggle*/
